{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "{{.HomeserverURL}}",
      "server_name": "{{.ServerName}}"
    }
  },
  "brand": "Mux Chat",
  "disable_guests": true,
  "disable_login_language_selector": true,
  "disable_3pid_login": true,
  "default_country_code": "US",
  "show_labs_settings": false,
  "default_theme": "dark"
}
